<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="row">
        <div class="py-5 text-center">
            <h2>모임 찾기</h2>
        </div>
        <ul class="list-group">
            <li th:each="community : ${communities}" class="list-group-item">
                <a th:href="@{'/communities/' + ${community.communityId}}" th:text="${community.communityName}"></a>
            </li>
        </ul>
    </div><!-- /row -->
</div>
</body>
</html>