<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>403 Forbidden</title>
  <style>
        body {
            text-align: center;
            padding: 150px;
        }
        h1 {
            font-size: 50px;
        }
        body {
            font-size: 20px;
        }
        a {
            color: #007BFF;
        }
    </style>
</head>
<body>
<h1>403</h1>
<p>Forbidden</p>
<p>Sorry, but the page you were trying to view does not exist.</p>
<p>Go back to <a href="/">home</a>.</p>
<img src="/images/403.jpeg" alt="403 Image">
</body>
</html>
