<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal Server Error</title>
    <style>
        body {
            text-align: center;
            padding: 150px;
        }
        h1 {
            font-size: 50px;
        }
        body {
            font-size: 20px;
        }
        a {
            color: #007BFF;
        }
    </style>
</head>
<body>
<h1>500</h1>
<p>Internal Server Error</p>
<p>Sorry, but the page you were trying to view does not exist.</p>
<p>Go back to <a href="/">home</a>.</p>
<img src="/images/500.jpeg" alt="500 Image">
</body>
</html>
